* {
  box-sizing: border-box;
}
.App {
  width: 100%;

  margin: 0 auto;
  border: 10px solid rgb(207, 195, 195);
  background-color: rgb(26, 25, 25);
}
.headlist {
  /* background-color: aqua; */
  width: 90%;
  text-align: left;
  margin: 0 auto;
}
.title {
  margin-top: auto;
  color: rgb(41, 187, 187);
  font-weight: normal;
  /* margin-left: 40px; */
}
.todo {
  color: blue;
}

.todo .done {
  color: brown;
}
/* ul li:before {
  content: "\2713";
  display: inline-block;
  color: blue;
  padding: 0 6px 0 0;
} */
.list {
  background-color: white;
  /* width: 90%; */
  margin: 0 auto;
  text-align: left;
  border-radius: 3px;
}
ul li {
  list-style-type: none;
  font-size: 1.5em;
}
/* .container {
  height: 250px;
  background-color: yellow;
  margin: 0 auto;
} */
.form {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
}
